<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pubscale.sdkone" android:versionName="1.0" android:versionCode="1">
  <application>
    <activity android:name="com.pubscale.sdkone.offerwall.ui.OfferWallActivity" android:screenOrientation="landscape" />
  </application>
</manifest>